<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Code Union</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if userid }}
                    <li><a href="/profile">Profile</a></li>
                {{else}}
                    <li><a href="/register">Sign up</a></li>
                    <li><a href="/sign_in">Sign in</a></li>
                {{/if}}

            </ul>
        </div>
    </nav>
    <div class="container">
        {{{ body }}}
    </div>
</body>
</html>